include tweakers/tweak
doctype
html
    head
        title= "Real time web chat"
        script(src='/tweak_helper.js')
        script(src='/socket.io/socket.io.js')
        script(src='http://code.jquery.com/jquery-2.0.3.js')
        link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='/styles.css')
        script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js') 
    body
        input#controllerIp( type='text',value=l_variables.controllerIp)
        input#controllerPort( type='text',value=l_variables.controllerPort)
        #tweakers(style='width: 600px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
            - var l_tweaks = l_variables.ccjson.tweaks;
            - for (var tweakData in l_tweaks) 
                +tweak( l_tweaks[tweakData ])
            - for (index = 0; index < l_tweaks.length; ++index) 
                +tweak( l_tweaks[index])