include tweakers/slider
doctype
html
    head
        title= "Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        script(src='http://code.jquery.com/jquery-2.0.3.js')
        link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
        script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js') 
    body
        h1= bgb
        #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        #tweakers(style='width: 600px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
            - for (index = 0; index < l_variables.length; ++index) 
                +slider( l_variables[index].data)
        .controls
            input#name(style='width:350px;')
            br
            input#field(style='width:350px;')
            input#send(type='button', value='send')