mixin  slider( l_variable)
    - var containerID = 'tweaker-' + l_variable.name;
    div
        label= l_variable.name
            input( type='text', readonly,style='border:0; color:#f6931f; font-weight:bold', value= l_variable.value)
            div.range-slider( id= containerID)