mixin  tweak( l_tweakData)
    - var containerID = 'tweaker-' + l_tweakData.varName;
    - var inputElementID = 'tweaker-input-' + l_tweakData.varName;
    - var tweakType = l_tweakData.varType;
    - var tweakValue = l_tweakData.value;
    - var tweakName = l_tweakData.name;

    div.tweak-container(id= containerID)
        -if (tweakType == 0)
                - tweakValue = (tweakValue == 0) ? false: true;
                input.bool-tweak( type='checkbox', checked=tweakValue, id= inputElementID)
                label( for= inputElementID)= tweakName
        -if (tweakType == 1)
                label= tweakName
                input( type='text', value= tweakValue, readonly,style='border:0; color:#f6931f; font-weight:bold')
                div.float-tweak( id= inputElementID)